@import "app.scss";

body {
	text-align: center;
}

h1 {
	font-family: 'Oranienbaum', serif;
	font-weight: normal;
	text-align: center;
	font-size: 112px;
}

h2 {
	margin-bottom: 30px;
	font-size: 30px;
}